@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
html{
    background-image: url(https://img.freepik.com/free-photo/blue-textured-brick-wall-background_53876-63585.jpg?w=2000);
    box-sizing: border-box;
    background-repeat: repeat-y;
}
body{
    display: block;
    width: 800px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
   
}
header{
    text-align: center;
}
.header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.containerCF{
    display: flex;
    width: 80%; 
    height: 800px;
    margin-left: auto;
    margin-right: auto;
} 
.midden{
    border: solid 1px black;
    width: 80%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    background-image: url(https://dbdzm869oupei.cloudfront.net/img/sticker/preview/2916.png);
    padding:10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 60px;
    padding-right: 75px;

}
h1{
    font-size: 50px;
    margin: 0px;
    font-family: 'Bungee Shade',cursive, sans-serif;
    color: white;
    
}  
h2,h3,h4{
    font-family: 'Righteous', cursive,sans-serif;
    font-size: large;

}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 0;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
