@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.imgPJ{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
}
html{
    background-image: url(https://img.freepik.com/free-photo/blue-textured-brick-wall-background_53876-63585.jpg?w=2000);
    box-sizing: border-box;
    background-repeat: repeat-y;

}
body{
    display: block;
    width: 800px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
}
header{
    text-align: center;
}
.header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.containerPJ{
    display: flex;
    width: 80%; 
    height: 800px;
    margin-left: 25px;
    margin-left: 20px;
}   
.linksBlokPJ{
    width: 192px ;
    height: 200px;
    background-color:lightgray;
    margin-top: 51px;
    border-radius: 20px;
    margin-right: 5px;
}
.linkPJ{
    display: inline-block;
    text-align: center;
    border: solid 1px;
    height: 15%;
    background-color:#f29640;
    width: 99%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-decoration: none;
}
.midden{
    border: solid 1px black;
    width: 70%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    background-image: url(https://dbdzm869oupei.cloudfront.net/img/sticker/preview/2916.png);
    padding:10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 60px;
    padding-right: 75px;
}
.linksBlokPJ p{
    margin: auto;
    font-size: 20px;
    color: black;
}
h1{
    font-size: 50px;
    margin: 0px;
    font-family: 'Bungee Shade',cursive, sans-serif;
    color: white;
}
p{
    font-family: 'Syne Mono', monospace,sans-serif;
    font-size: 14px;
}
h2,h3,h4{
    font-family: 'Righteous', cursive,sans-serif;
    font-size: large;

}
@media(max-width:500px){
    main{
        height: auto;
        width: auto;
    }
    .midden{
        width: 20%;
        height: 60%;
    }
    h1{
        text-align: center;
        font-size:  large;
    }  

    .linkPJ {
        display: flex;
        height: 25px;
    }
    .linkPJ > p {
       margin: auto;
    }
    body{
        width: auto;
        height: auto;
    }
    p{
        font-size: small;
    }

    .linksBlokPJ p{
        font-size: 10px;
    }

    .linksBlokPJ{
        width: 40%;
        height: 10%;
        margin-top: 8%;
        
    }
    .imgPJ{
        width: 100%;
        height: 100%;
    }
}
