@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.imgcv{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
}
.imgPJ{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
}
.imgOM{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
}
html{
    background-image: url(https://img.freepik.com/free-photo/blue-textured-brick-wall-background_53876-63585.jpg?w=2000);
    box-sizing: border-box;
    background-repeat:no-repeat;
    background-size:auto ;
}
.linkCV{
    text-align: center;
    border: solid 1px;
    height: 15%;
    background-color:#f29640;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.linkPJ{
    text-align: center;
    border: solid 1px;
    height: 15%;
    background-color:#f29640;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.linkOM{
    text-align: center;
    border: solid 1px;
    height: 15%;
    background-color: #f29640;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
body{
    display: block;
    width: 800px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
}
.containerCV{
    display: flex;
    width: 80%; 
    height: 250px;
    padding-left: 150px;
}
.linksBlokCV{
    text-align: center;
    width: 50%;
    height: 40%;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto; 
    border-right: solid 1px black;  
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
}
.rechtsBlokCV{
    width: 30% ;
    height: 80%;
    background-color:lightgray;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 20px;
}
.containerPJ{
    display: flex;
    width: 80%; 
    height: 250px;
    padding-left: 150px;
}
.linksBlokPJ{
    width: 30% ;
    height: 80%;
    background-color:lightgray;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 20px;
}
.rechtsBlokPJ{
    width: 50%;
    height: 40%;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px;
    border-left: solid 1px black;   
}
.containerOM{
    display: flex;
    width: 80%; 
    height: 250px;
    padding-left: 150px;
}
.linksBlokOM{
    width: 50%;
    height: 40%;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
    border-right: solid 1px black;
}
.rechtsBlokOM{
    width: 30% ;
    height: 80%;
    background-color: lightgray;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 20px;
}
.rechtsBlokOM > a {
    display: inline-block;
    width: 99%;
}
.rechtsBlokCV > a {
    display: inline-block;
    width: 99%;
}
.linksBlokPJ > a {
    display: inline-block;
    width: 99%;
}
.header a{
    width: 200px;
    text-decoration: none;
}
.rechtsBlokCV a{
    color: rgb(56, 75, 153);
    font-size: 20px;
}
.linksBlokPJ a{
    color: rgb(56, 75, 153);
    font-size: 20px;
}
.rechtsBlokOM a{
    color: rgb(56, 75, 153);
    font-size: 20px;
}
header{
    text-align: center;
}
.links p{
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
}
.rechtsBlokPJ p{
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Syne Mono', monospace,sans-serif;
    font-size: 15px;
}
.linksBlokOM p{
    margin-top: 35px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Syne Mono', monospace,sans-serif;
    font-size: 15px;
}
.linksBlokCV p{
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Syne Mono', monospace,sans-serif;
    font-size: 15px;
}
h1{
    font-size: 50px;
    margin: 0px;
    font-family: 'Bungee Shade',cursive, sans-serif;
    color: white;
}
@media (max-width:500px) {
    main{
        height: auto;
        width: auto;
    }
    .containerPJ{
        width: 100%;
        margin-bottom: 10%;
        height: 150px;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .containerOM{
        width: 100%;
        height: 10%;
        margin-bottom: 10%;
        padding: 0;
        display: flex;
        justify-content: center;

    }
    .containerCV{
        width: 100%;
        height: 10%;
        margin-bottom: 10%;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .imgOM{
        width: 100%;
        height: 80%;
    }
    .imgcv{
        width: 100%;
        height: 100%;
    }
    .imgPJ{
        width: 100%;
        height: 100%;   
    }
    h1{
        text-align: center;
        font-size: x-large;
    }
    body{
        width: auto;
        height: auto;
    }
    .linksBlokOM p{
        font-size: 10px;
        padding-bottom: 10px;
    }
    .rechtsBlokPJ p{
        font-size: 10px;
        padding-bottom: 10px;
    }
    .linksBlokCV p{
        font-size: 10px;
        padding-bottom: 10px;
    }
    .linksBlokPJ > a{
        font-size: 15px;
    }
    .rechtsBlokCV > a{
        font-size: 15px;
    }
    .rechtsBlokOM > a{
        font-size: 15px;
    }
}


